ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding: 40px 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* .section__cards {
    
} */
.pag-list {
    display: flex;
}
.pag-list__item {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.pag-list__item:not(:last-child) {
    margin-right: 10px;
}
.active {
    color: blueviolet;
    border-color: blueviolet;
}